/* 写样式的地方 */

.top-header {
    background-color: #333;
    z-index: 4;
}

.top-header-inner {
    width: 1090px;
    margin: 0 auto;
    height: 36px;
}

.header-left-tip a {
    color: #ccc;
}

.header-left-tip {
    line-height: 36px;
    float: left;
}

.header-left-info {
    height: 36px;
    float: left;
    overflow: hidden;
    margin-left: 10px;
    background:url(http://yanxuan.nosdn.127.net/d132c2561f18f1149d566a60d05fd9b7.gif) center left no-repeat ;
}
#yanxuan-notice-ul{
    position: relative ;
    margin-left: 20px;
    transform:translateY(-0px);
    transition:all 0.1s ease;
}
.header-left-info ul li a {
    color: #b4a078;
    text-decoration: underline;
}

.top-header-left {
    overflow: hidden;
}

.top-header-right {
    float: right;
    margin-top: -35px;
}

.top-header-right ul li {
    display: inline-block;
}

.top-header-right ul li a i.icon-upArrow {
    display: inline-block;
    background-image: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-sc6353bfedb-173a41cd9d.png);
    background-position: 0 -321px;
    height: 5px;
    width: 11px;
    vertical-align: 2px;
    margin-left: 10px;
}

.top-header-right ul li a i.icon-app {
    display: inline-block;
    background-image: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-sc6353bfedb-173a41cd9d.png);
    background-position: 0 0;
    height: 11px;
    width: 7px;
    margin-right: 6px;
}

.top-header-right-ul .right-ul-li .right-ul-li-a {
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid gray;
}

.top-header-right ul li:first-child a,
.top-header-right ul li:last-child a,{
    border-right: none;
}

.top-header-right ul li a,
.top-header-right ul li span {
    color: #ccc;
}

.top-header-right-ul{
    position: relative;
}
.drop-down-menu {
    position: absolute;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    top: 22px;
    
}
.right-ul-li-div{
    right: 50px;
    width: 80px;
    text-align: center;
    line-height: 40px;
}
.right-ul-li-div ul li{
    height: 40px;
    border-bottom: 1px solid #ddd;
    
}
.right-ul-li-div ul li a{
    color: #999;
}
.right-ul-li-div ul li:last-child{
    border-bottom:none;
}
.right-ul-li-div{
    display: none;
}
.drop-down-menu-li:hover .icon-upArrow{
    transform: rotateX(180deg);
}
.drop-down-menu-li:hover .right-ul-li-div{
    display: block;
}

.icon-arrow-up {
    width: 1px;
    font-size: 0;
    line-height: 0;
    border-width: 5px;
    border-color: #fff;
    border-top-width: 0;
    border-style: dashed;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -5px;
    left: 32px;
}

.drop-down-menu-div ul li a {
    border-right: none;
    margin-left: 8px;
}

/* 搜索框 */
.nav-header-inner {
    width: 1090px;
    margin: 0 auto;
    height: 204px;
    text-align: right;
    position: relative;
    
}
.yx-icon-nav{
    background-image: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-sc6353bfedb-173a41cd9d.png);
    background-position: 0 -146px;
    height: 60px;
    width: 180px;
    display: inline-block;
    margin-top: 50px;
}

.yx-cartEnter-icon{
    background-image: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-sc6353bfedb-173a41cd9d.png);
    height: 23px;
    width: 23px;
    background-position: 0 -113px;
    display: inline-block;
    position: relative;
    bottom: 42px;
    left: 0;
}
.header-notice-wrap {
    position: relative ;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}

/* 搜索栏的设置 */
.yx-search{
    position: absolute;
    top: 70px;
    right: 60px;
    
}
.yx-search .yx-searchInput{
    height: 22px;
    border: 0;
    border-bottom: 1px solid #D8cEBC;
    line-height: 22px;
    font-size: 12px;
    width: 252px;
    outline: none;
}
.yx-searchDefaultKeyword{
    position: absolute;
    top: 5px;
    left: 10px;
    color: #999;
    line-height: 1;
    cursor: text;
    touch-action: none;
    pointer-events:none;
    white-space:nowrap;
    overflow: hidden;
    width: 230px;
    text-overflow: ellipsis;
    text-align: left;
}

.nav-top{
    float: left;
    margin-top: 20px;
    
}

.nav-top .yx-tabNav-item{
    display: inline-block;
    font-weight: bolder;
    font-size: 14px;
    margin-right: 40px;
    line-height: 20px;
    vertical-align: top;
    
}

.yx-tabNav-split{
    display: inline-block;
    border-left: 1px solid #ccc;
    height: 20px;
    margin-left: -20px;
    margin-right: 20px;  
}
.nav-top-border{
    position: relative;
}
.yx-dropMenu-ul{
    display: inline-block;
    vertical-align: top;
}
.yx-dropMenu{
    position: absolute;
    display: none;
    left: 10px;
}

/* slider部分 */
.m-focusSlick{
    position: relative;
    width: 100%;
    height:420px;
    overflow: hidden;
    
}
.slick-list{
    position: absolute;
    width: 1920px;
    min-width: 1090px;
    z-index: 1;
}

.imgCenterBanner {
    position: relative;
    width: 10000000px;
    
   
}
.imgCenterBanner a{
    float:left;
    width:1920px;
}
.slick-prev{
    display: block;
    left: 58px;
    position: absolute;
    z-index: 2;
    top:210px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 80;
    background-color:#D0C4AF;
    background-image: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/icon-normal-sdf26262b15-838efcb5f5.png);
    background-repeat: no-repeat;
    background-position: 0 -4936px;
    border-radius: 500px;
    outline: none;
    border: none;
}
.slick-next{
    display:block;
    right:156.5px;
    position: absolute;
    z-index: 2;
    top: 210px;
    width: 50px;
    height: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 80;
    background-color: #D0C4AF;
    background-image: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/icon-normal-sdf26262b15-838efcb5f5.png);
    background-repeat: no-repeat;
    background-position: 0 -5116px;
    border-radius: 500px;
    outline: none;
    border: none;
}
.slick-dots{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    padding:0;
    list-style: none;
    text-align: center;
    margin:0;
    z-index: 3;
    color: red;
}
.slick-dots span{
    margin-left: 5px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 500px;
    background-color: #fff;
    text-align: center;
    color: transparent;
    cursor: pointer;
    border: 1px solid #cecece;
}
.slick-dots span.slick-active{
    box-shadow: 0 0 0 4px #dfcead;
    background-color:#a7936e;
    border-radius:500px;
    border:none;
}

.icon-yxtop-search{
    position: absolute;
    right: 40px;
    top:70px;
    display: block;
    background-position: 0 -291px;
    height: 20px;
    width: 20px;
    background-image: -webkit-image-set(url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s7be3ef1526-1833a17ef7.png) 1x,url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x2/icon-yxtop-s1a74fe310b-89c6ae28ad.png) 2x);
}

